.card {
    min-width: 300px; /* Ancho mínimo de la tarjeta */
    min-height: 150px; /* Altura mínima de la tarjeta */
    background-color: #eb0029; /* Color de fondo rojo */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil para efecto de elevación */
    transition: all 0.3s ease; /* Transición suave para cambios visuales */
    display: flex; /* Usar flexbox para centrar el contenido */
    justify-content: center; /* Centrar contenido horizontalmente */
    align-items: center; /* Centrar contenido verticalmente */
    font-size: 20px; /* Tamaño de la fuente del texto dentro de la tarjeta */
    font-family: 'Roboto', sans-serif; /* Fuente Roboto */
    color: #fff; /* Color del texto blanco */
    cursor: pointer; /* Mostrar cursor de mano al pasar sobre la tarjeta */
    text-align: center; /* Alinear el texto al centro */
    position: relative; /* Posicionamiento relativo */
    overflow: hidden;  /* Evitar que el contenido se desborde fuera de la tarjeta */
}
  
.card-hover {
    background-color: #db0026; /* Color de fondo cuando se hace hover (un tono más oscuro) */
    color: #fff; /* El color del texto permanece blanco */
}

.function-card-container {
    display: flex; /* Usar flexbox para alinear las tarjetas */
    justify-content: space-around; /* Distribuir las tarjetas equitativamente */
    align-items: center; /* Alinear verticalmente en el centro */
    width: 100%; /* Ancho completo del contenedor */
    max-width: 1000px; /* Ancho máximo del contenedor */
    gap: 20px; /* Espacio entre las tarjetas */
    margin-top: 20px; /* Margen superior para separar las tarjetas de otros elementos */
}

/* Evitar el desbordamiento en pantallas pequeñas */
@media (max-width: 768px) {
    .function-card-container {
        flex-direction: column; /* Cambiar a disposición vertical en pantallas pequeñas */
        align-items: center; /* Alinear las tarjetas al centro */
    }

    .card {
        width: 100%; /* Ancho completo de la tarjeta en pantallas pequeñas */
        max-width: 300px; /* Ancho máximo de la tarjeta */
        max-height: 150px; /* Altura máxima de la tarjeta */
    }

    .card-hover {
        scale: 1.05;  /* Limitar el escalado al hacer hover en pantallas pequeñas */
    }
}
